.styleBanner {
    background-image: url("/src/assets/img/wallpaper.jpg");
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    text-align: center;
    padding: 50px;
}

 .styleHr{
    width:50%; 
    margin-left:25%  
 }

 .styleList{
    list-style:none;
    font-size: 17px;
 }

 .textPizza{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 18px;
 }

.colorbg{
   background-color: rgb(23, 162, 184);
}